.about-me{
    background-color: black;
    margin-top: 100px;
  }
  .about-me-shorter{
    background-color: black;
  }
.about-me-container{
  padding: 25px
}

.upper-about-me{
  display: flex;
  justify-content: space-between;
}
.about-me-header{
  margin-bottom: 100px;
}

#emdm-banner{
  width: 50%;
  height: 50px;
  font-size: x-large;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.flatiron-top{
  display: flex;
  justify-content: space-between;
}
.flatiron-text{
  color: white;
  width: 50%;
  justify-content: flex-start;
}

.flatiron-projects{
  margin-left: 50px;
}
.flatiron-project-container{
  padding: 50px;
}

  .us-container{
    margin-left: 50px;
    margin-top: 25px;
}

.about-me-text-container{
  width: 100%;
  margin-left: 50px;
  font-size: larger;
}
.about-me-smaller-photos{
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.lsu-project-container{
  display: flex;
  justify-content: space-between;
  padding: 20px
}
.lsu-projects{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lower-about-me{
  display: flex;
  justify-content: space-between;
}

.about-me-text-2{
  justify-content: center;
  width: 50%;
  font-size: larger;
  padding: 10px;
}
.about-me-pictures-2{
  justify-content: flex-end;
  width: 50%;
  margin-top: 50px;
  vertical-align: middle;
  margin-top: 100px
}

.about-me-text-3{
  display: flex;
  justify-content: space-between;
}
.love-cosma-text{
  justify-content: flex-end;
  font-size: larger;
  width: 50%;

}
.love-cosma-pictures{
  justify-content: flex-start;
  width: 50%;
}
.love-cosma-text-container{
  padding-left: 50px;
}

.music-video{
  margin-top: 30px;
}
.art-links{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;

}

.featured-projects{
  display: flex;
  justify-content: space-evenly;
}

.flatiron-text{
  font-size: larger;
}
.flatiron-projects{
  margin-bottom: 50px;
}