.about-me{
    height: 85vh;
    background-color: black;
  }

  .upper-about-me{
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  .us-container{
    margin-left: 50px;
    margin-top: 25px;
}

.about-me-text{
  margin-left: 50px;
  font-size: larger;
}
.about-me-smaller-photos{
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}