.about-me{
    height: 85vh;
    background-color: black;
  }

  .upper-about-me{
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  .us-container{
    margin-left: 50px;
    margin-top: 25px;
}

.about-me-text-container{
  margin-left: 50px;
  font-size: larger;
}
.about-me-smaller-photos{
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.lsu-project-container{
  display: flex;
  justify-content: space-between;
  padding: 20px
}
.lsu-projects{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lower-about-me{
  display: flex;
  justify-content: space-between;
}

.about-me-text-2{
  justify-content: flex-start;
}

.about-me-pictures-2{
  justify-content: flex-end;
}